// BUTTONS
.read-more
	color: #7b42c7
	font-size: 20px
	font-weight: 400
	text-transform: uppercase
	text-decoration: none
	display: block
	float: right
	z-index: 11
	.icon-hololens
		color: #7b42c7
	&:active
		position: relative
		top: 2px
.learn-more
	color: #000000
	font-family: 'Roboto'
	font-size: 15px
	font-weight: 300
	padding: 14px 18px
	border: 1px solid #8c40cc
	display: inline-block
	outline: 0
	text-transform: uppercase
	+tr(background-color .3s ease)
	text-decoration: none
	margin-left: 50px
	&:hover
		color: white
		background-color: #8c40cc
.btn-next
	display: block
	max-width: 216px
	width: 100%
	color: white
	border-radius: 5px
	background-color: #8c40cc
	padding: 16px 21px 12px 28px
	font-size: 20px
	font-weight: 400
	text-transform: uppercase
	&:hover
		i
			margin-left: 12px
.btn-next_bg
	background-color: #ffffff
	color: #8c40cc
	.icon-arrow-r
		color: #8c40cc
.btn-mail
	position: absolute
	top: 50%
	right: 4.6842%
	border-radius: 50%
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
	background-color: #eeae21
	padding: 0
	cursor: pointer
	z-index: 11
.about-contact
	text-decoration: underline


.arrow
	position: fixed
	bottom: 60px
	right: 5.21%
	padding: 8px
	background-color: #8c40cc
	border-radius: 50%
	-moz-border-radius: 50%
	-ms-border-radius: 50%
	-o-border-radius: 50%
	-webkit-border-radius: 50%
	z-index: 1
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.26), 0 0 16px rgba(0, 0, 0, 0.25)
	+tr(background-color .2s ease)
	+rotate(180)
	transition: opacity 0.25s ease, visibility 0.25s ease
	
.arrow-up
	opacity: 0
	visibility: hidden
	&.is-show
		opacity: 1
		visibility: visible
	&:active
		bottom: 58px
	&:hover
		background-color: white
	&:hover
		.icon-arrow-down
			color: #563d78
.icon-arrow-down
	font-size: 30px
	color: white