// BUTTONS
.read-more
	color: #7b42c7
	font-size: 20px
	font-weight: 400
	text-transform: uppercase
	text-decoration: none
	display: block
	float: right
	z-index: 11
	.icon-hololens
		color: #7b42c7
	&:active
		position: relative
		top: 2px
.learn-more
	color: #000000
	font-family: 'Roboto'
	font-size: 15px
	font-weight: 300
	padding: 14px 18px
	border: 1px solid #8c40cc
	display: inline-block
	outline: 0
	text-transform: uppercase
	+tr(background-color .3s ease)
	text-decoration: none
	margin-left: 50px
	position: relative
	&:active
		top: 2px
	&:hover
		color: white
		background-color: #8c40cc
	&.is-active
		color: white
		background-color: #8c40cc
	+r(768)
		margin-left: 0
		float: right
	+r(480)
		float: none
		display: block
		max-width: 160px
		width: 100%
		margin: auto
		padding: 8px
.blog-show
	display: none
	padding: 10px
	text-align: center
	margin: auto
	text-decoration: uppercase
	outline: 0
	color: #8c40cc
	font-size: 20px
	background-color: #f2f2f2
	+r(480)
		display: block
		


.btn-next
	display: block
	max-width: 216px
	width: 100%
	color: white
	border-radius: 5px
	background-color: #8c40cc
	padding: 16px 21px 12px 24px
	font-size: 20px
	font-weight: 400
	text-align: center
	text-transform: uppercase
	+tr(padding .2s ease)
	position: relative
	&:hover
		opacity: 0.9
	&:hover
		i
			padding-left: 12px
	+r(900)
		margin: auto
		padding: 10px
	+r(480)
		font-size: 16px
		padding: 7px

.btn-next_bg
	background-color: #ffffff
	color: #8c40cc
	.icon-arrow-r
		color: #8c40cc
.btn-mail
	display: inline-block
	border-radius: 50%
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
	background-color: #eeae21
	cursor: pointer
	z-index: 11
	padding: 8px
	+tr(opacity .2s ease)
	&:active,
	&:focus,
	&:hover
		opacity: 0.88


.brief-send
	color: #ffffff
	font-size: 15px
	font-weight: 300
	display: block
	outline: 0
	padding: 14px
	max-width: 184px
	width: 100%
	background-color: #8c40cc
	cursor: pointer
	&:active
		position: relative
		top: 2px
	+r(768)
		margin: auto
		text-align: center

.arrow
	position: fixed
	bottom: 90px
	right: 5.21%
	padding: 8px
	background-color: #8c40cc
	border-radius: 50%
	-moz-border-radius: 50%
	-ms-border-radius: 50%
	-o-border-radius: 50%
	-webkit-border-radius: 50%
	z-index: 11
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.26), 0 0 16px rgba(0, 0, 0, 0.25)
	+tr(background-color .2s ease)
	+rotate(180)
	transition: opacity 0.25s ease, visibility 0.25s ease
	
.arrow-up
	opacity: 0
	visibility: hidden
	&.is-show
		opacity: 1
		visibility: visible
	&:active
		bottom: 88px
	&:hover
		background-color: white
	&:hover
		.icon-arrow-down
			color: #563d78
.icon-arrow-down
	font-size: 30px
	color: white