// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby) 
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts
// +font(book, cytiapro-black-webfont)
// and create mixin
// =book
// 	font-family: "book", Arial, sans-serif

body
	font-family: 'Roboto', sans-serif, Arial
	font-weight: 400
	font-size: 14px
	line-height: 1.4
	color: #000000
	&.is-hidden
		overflow: hidden
	
// common blocks
html,
body
	min-height: 100%

img
	max-width: 100%
	display: block
	margin: 0 auto
a
	+tr(all .3s ease)
	text-decoration: none

%inner
	width: 100%
	max-width: 1400px
	margin: 0 auto
	position: relative
	height: 100%
	+clr
	+r(1440)
		width: 90%
.inner
	@extend %inner


.icon, [class^="icon-"], [class*=" icon-"]
	vertical-align: middle
	color: white
	font-size: 50px
	+tr(color .3s ease)
.out
	position: relative
.pages-list
	text-align: center
	margin-top: 300px
.pages__list-item
	padding: 15px 0
	a
		text-decoration: none
		color: black
		font-size: 22px
		display: inline-block
		text-transform: uppercase
		+tr(all .3s ease)

// TITLEs
.title-primary
	font-family: Roboto
	font-size: 35px
	font-weight: 500
	text-transform: uppercase
	position: relative
	margin-bottom: 35px
	+r(768)
		font-size: 24px
	&:after
		content: ''
		display: block
		position: absolute
		bottom: -10px
		width: 217px
		height: 3px
		background-color: #ddac35
		left: 0
		right: 0
		margin: auto
.subtitle
	font-size: 25px
	font-weight: 400
	+r(768)
		font-size: 18px

.h1
	font: 500 28px/1 'Roboto', sans-serif, Arial
	text-transform: uppercase
	text-align: center
	margin-bottom: 50px
	+r(768)
		font-size: 22px
	+r(480)
		margin-bottom: 25px
.h2
	font: 500 28px/1 'Roboto', sans-serif, Arial
	text-transform: uppercase
	margin-bottom: 50px
	text-align: left
	+r(768)
		margin: 25px 0
		text-align: center
		font-size: 20px
.h3
	font-size: 16px
	font-weight: 400
	margin-bottom: 30px


time
	color: #8c40cc
	font-weight: bold
	display: block
	font-size: 16px

// row
.row
	margin-bottom: 12px
	&:nth-of-type(3)
		margin-bottom: 0
.text-r
	text-align: right

// input
.input
	background-color: #6c428f
	width: 100%
	max-width: 343px
	display: block
	margin: auto
	outline: 0
	padding: 13px
	color: #ffffff
	font-family: Roboto
	font-size: 12px
	opacity: 0.48
	font-weight: 100
#form-submit
	background-color: transparent
	color: white
	display: inline-block
	vertical-align: middle
	color: #ffffff
	font-family: Roboto
	font-size: 16px
	font-weight: 400
	opacity: 1
	visibility: visible
	cursor: pointer
	transition: opacity 0.15s ease, visibility 0.15s ease
	&.is-hidden
		opacity: 0
		visibility: hidden
.form-label
	display: inline-block
	cursor: pointer
	font-size: 0
	position: absolute
	left: 52%
	margin-top: 28px
	transform: translateX(-52%)
#form
	padding-bottom: 70px

.input-contact
	color: #9b9a9a
	font-size: 25px
	font-weight: 300
	padding: 18px
	width: 100%
	display: block
	outline: 0
	margin-bottom: 17px
	background-color: #e0e0e0
	color: black
	+skoda
	&:focus
		box-shadow: 0 0 7px rgba(0, 0, 0, 0.41)
textarea
	resize: none
	width: 100%
	min-height: 175px
	background-color: #e0e0e0
	padding: 16px 20px 20px
	color: #9b9a9a
	font-size: 25px
	font-weight: 300
	margin-bottom: 66px
	+skoda

.input::-webkit-input-placeholder
	color: #ffffff


// ICONS
.icon-open
	color: #8c40cc
	font-size: 27px
	margin-right: 12px
.js-show
	&.is-active 
		.icon-open
			+rotate(180)
.icon-Oculus
	font-size: 25px			
.icon-send
	margin-right: 11px
	font-size: 41px
.icon-hololens
	margin-right: 16px
	font-size: 19px
.icon-send
	color: #ddac35
.icon-logo
	color: #8c40cc
	font-size: 40px
	+r(768)
		font-size: 30px
.icon-footer-logo
	font-size: 29px

.icon-arrow-r
	font-size: 25px
	padding-left: 10px
	position: relative
	top: -1px
// icons out section 
.icon-bg1,
.icon-bg2,
.icon-bg3,
.icon-bg5,
.icon-bg6
	font-size: 33px
	color: #f5bb45
	position: absolute
	z-index: 11
.icon-bg2,
.icon-bg1
	color: #00b1d0
.icon-bg_turquoise
	color: #6dadda
.icon-bg3
	font-size: 20px
.icon-bg6
	font-size: 22px
.icon-bg_orange
	color: #ddac35

// social
.wrapper
	padding: 50px 0
	position: relative
	+r(480)
		padding: 25px 0
		text-align: justify
	p
		margin-bottom: 15px
		font-size: 16px
		+r(480)
			font-size: 14px
.social
	float: right
	font-size: 0
	padding: 40px 0
	+r(480)
		float: none
		text-align: center
	&__item
		display: inline-block
		vertical-align: middle
		border: 1px solid #8b8b8b
		position: relative
		+tr(background-color .2s ease)
		&:not(:first-child)
			margin-left: 12px
		&:hover
			border: 1px solid white
	&__link
		display: block
		padding: 10px
		position: relative
		+tr(transform .3s ease)
		+r(768)
			padding: 3px
		&:hover
			+rotate(360)
	.social_fb
		&:hover
			background-color: #3b5998
			.icon-fb
				color: white
	.social_tw
		&:hover
			background-color: #4099ff
			.icon-tw
				color: white
	.social_go
		border: 1px solid #ffffff
		background-color: #fb4840
		&:hover
			background-color: #3b5998
			// .icon-go
			// 	color: white
	.social_vk
		&:hover
			background-color: #3b5998
			.icon-vk
				color: white
.icon-fb
	color: #2167c6
.icon-tw
	color: #00aef0
.icon-go
	color: #fff
.icon-vk
	color: #507299
.icon-fb,
.icon-tw,
.icon-go,
.icon-vk
	font-size: 40px


// fly-plane
#flyPlane
	&.is-active
		animation: flyPlane 0.8s linear both, animePlane 0.5s linear 0.8s forwards

@keyframes flyPlane
	0%
		transform: translate(0,0) rotate(0)
	100%
		transform: translate(250px,-100px) rotate(50deg) 

@keyframes animePlane
	0%
		transform: translate(250px,-100px) rotate(50deg) scale(1)
	50%
		transform: translate(375px, -50px) rotate(60deg) scale(1)
	100%
		transform: translate(500px,0) rotate(60deg) scale(0)
		opacity: 0






// contacts-map
.contacts-map 
	width: 100%
	margin: auto
	height: 400px


// overlay
.overlay
	opacity: 0
	position: fixed
	top: 0
	right: 0
	left: 0
	bottom: 0
	width: 100%
	height: 100%
	visibility: hidden
	z-index: 11
	background: rgba(53,18,83,.3)
	transition: opacity 0.25s ease, visibility 0.25s ease
	&.is-active
		opacity: 1
		visibility: visible


// JS-slider
.slider
	position: relative
	margin-bottom: 260px
	+clr
	&__item
		min-height: 900px
		float: left
		width: 33.33%
		position: relative
		+cover
		color: white
		padding: 80px 0
		p
			&:not(:last-child)
				margin-bottom: 16px
			font-size: 25px
			font-weight: 300
			line-height: 1
		h1
			margin-bottom: 100px
			text-align: center
			font-size: 70px
			line-height: 1
			font-weight: 700
			position: relative
			&:after
				display: block
				z-index: 1
				content: ''
				position: absolute
				left: 0
				right: 0
				width: 50%
				margin: auto
				height: 3px
				background-color: white
				bottom: -40px
.js-slider
	opacity: 0
	visibility: hidden
	transition: opacity 0.15s ease, visibility 0.15s ease
	&.is-ready
		opacity: 1
		visibility: visible
.slider-wrp
	position: relative
	&__inner
		max-width: 1920px
		margin: -30px auto 0
		top: 0
		bottom: 0
.plus
	font-size: 0
	list-style-type: disc
	&__item
		font-size: 25px
		font-weight: 300
		line-height: 1
		margin-bottom: 15px
		p
			margin-bottom: 0
.slick-arrow
	position: absolute
	top: 0
	bottom: 0
	background-color: rgba(255,255,255, 0.2)
	height: 100%
	width: 140px
	span
		position: relative
		top: 50%
		&:before
			z-index: 11
			display: block
			content: ''
			position: absolute
			border: 50px solid transparent
			border-right: 50px solid white
			right: 25%
.arrow-next
	right: 0
	span
		&:before
			border-left: 50px solid white
			border-right: none
			left: 25%
.arrow-prev
	left: 0

.js-prev.slick-disabled,
.js-next.slick-disabled
	opacity: 0
	visibility: hidden

.slick-dots
	bottom: -50px
.slick-dots li
	&:not(:first-child)
		margin-left: 3%
.slick-dots button
	background-color: #f2f2f2
	width: 223px
	height: 24px
	border-radius: 0
	border: 1px solid #f2f2f2
	outline: 0
	box-shadow: none
.slick-dots li.slick-active button
	background-color: #7b42c7
