<section class="contact" id="contact">
	<div class="inner">
		<h3 class="h3">Напишите нам и мы свяжемся с Вами</h3>
		<form id="form" action="" method="get">
			<div class="col">
	        	<input class="input" name="name" placeholder="ваше имя" type="text">
	        </div>
	        <div class="col">
	        	<input class="input" name="email" placeholder="e-mail" type="text">
	        </div>
	        <div class="col">
	        	<input class="input" name="phone" placeholder="телефон" type="text">
	        </div>
	        <!--  -->
	       <label class="form-label">
              <i class="icon-send" id="flyPlane">
               </i>
          	<button type="submit"  id="form-submit" value="Отправить" >Отправить</button>
       	  </label>
	    </form>
	</div>
	<i class="icon icon-bg1"></i>
	<i class="icon icon-bg3"></i>
</section>