<div class="popup__map js-popup" data-popup="map">
	<div class="popup__window">	
		<div class="popup__close js-close-popup">
			<i class="icon-close"></i>
		</div>
		<div class="contacts-map" id="object-map"></div>
	</div>
</div>


<footer class="footer">
	<div class="inner">
		<div class="footer__logo">
			<i class="icon-footer-logo"></i>
		</div>
		<ul class="footer__contact">
			<li class="footer__contact-item">
				<a class="footer__contact-link" href="mailto:info.wearstudio@wear-studio.com">
					<i class="icon icon-mail"></i>
					info.wearstudio@wear-studio.com
				</a>
			</li>
			<li class="footer__contact-item">
				<a class="footer__contact-link" href="tel:+380679000167">
					<i class="icon icon-phone"></i>
					+38 067 90 00 167
				</a>
			</li>
			<li class="footer__contact-item">
				<a class="footer__contact-link js-open-popup" data-link="map">
					<i class="icon icon-geo"></i>
					Киев, ул. Рижская 8а
				</a>
			</li>
		</ul>
		<ul class="footer__social">
			<li class="footer__social-item">
				<a class="footer__social-link" href="#"><i class="icon-facebook"></i>
				</a>
			</li>
			<li class="footer__social-item">
				<a class="footer__social-link" href="#"><i class="icon-linkedin"></i>
				</a>
			</li>
			<li class="footer__social-item">
				<a class="footer__social-link" href="#"><i class="icon-instagram"></i>
				</a>
			</li>
		</ul>
	</div>
</footer>

<!-- <script>
$(document).ready(function(){

});
</script> -->