<div class="overlay js-overlay"></div>
<div class="menu">
	<div class="menu__in">
		<nav class="nav">
			<li class="nav__item">
				<a href="main.html" class="nav__link">
					<i class="icon-hololens"></i>
					Главная
				</a>
			</li>
			<li class="nav__item">
				<a href="AUreality.html" class="nav__link">
					<i class="icon-hololens"></i>
					Дополненная реальность
				</a>
			</li>
			<li class="nav__item">
				<a class="js-show">
					<i class="icon-open"></i>
					Больше о AR
				</a>
				<ul class="dropdown">
					<li class="dropdown__item">
						<a href="ARsmart.html" class="dropdown__link">
						<i class="icon-hololens"></i>
						AR на смартфоне</a>
					</li>
					<li class="dropdown__item">
						<a href="ARiphone.html" class="dropdown__link">
						<i class="icon-hololens"></i>
						AR для iPhone</a>
					</li>
					<li class="dropdown__item">
						<a href="ARandroid.html" class="dropdown__link">
						<i class="icon-hololens"></i>
						AR для Android</a>
					</li>
					<li class="dropdown__item">
						<a href="ARgame.html" class="dropdown__link">
						<i class="icon-hololens"></i>
						AR игры</a>
					</li>
					<li class="dropdown__item">
						<a href="AReducation.html" class="dropdown__link">
						<i class="icon-hololens"></i>
						AR в образовании</a>
					</li>
					<li class="dropdown__item">
						<a href="ARadvertising.html" class="dropdown__link">
						<i class="icon-hololens"></i>
						AR в рекламе</a>
					</li>
					<li class="dropdown__item">
						<a href="ARmedical.html" class="dropdown__link">
						<i class="icon-hololens"></i>
						AR в медицине</a>
					</li>
					<li class="dropdown__item">
						<a href="ARproperty.html" class="dropdown__link">
						<i class="icon-hololens"></i>
						AR в недвижимости</a>
					</li>
				</ul>
			</li>
			<li class="nav__item">
				<a href="VRreality.html" class="nav__link">
					<i class="icon-hololens"></i>
					Виртуальная реальность
				</a>
			</li>
			<li class="nav__item">
				<a class="js-show">
					<i class="icon-open"></i>
					Больше о VR
				</a>
				<ul class="dropdown">
					<li class="dropdown__item">
						<a href="ARsmart.html" class="dropdown__link">AR на смартфоне</a>
					</li>
					<li class="dropdown__item">
						<a href="ARiphone.html" class="dropdown__link">AR для iPhone</a>
					</li>
					<li class="dropdown__item">
						<a href="ARandroid.html" class="dropdown__link">AR для Android</a>
					</li>
					<li class="dropdown__item">
						<a href="ARgame.html" class="dropdown__link">AR игры</a>
					</li>
					<li class="dropdown__item">
						<a href="AReducation.html" class="dropdown__link">AR в образовании</a>
					</li>
					<li class="dropdown__item">
						<a href="ARadvertising.html" class="dropdown__link">AR в рекламе</a>
					</li>
					<li class="dropdown__item">
						<a href="ARmedical.html" class="dropdown__link">AR в медицине</a>
					</li>
					<li class="dropdown__item">
						<a href="ARproperty.html" class="dropdown__link">AR в недвижимости</a>
					</li>
				</ul>
			</li>
			<li class="nav__item">
				<a href="MXreality.html" class="nav__link">
					<i class="icon-hololens"></i>
					Смешанная реальность
				</a>
			</li>
			<li class="nav__item">
				<a class="js-show">
					<i class="icon-open"></i>
					Больше о MR
				</a>
				<ul class="dropdown">
					<li class="dropdown__item">
						<a href="ARsmart.html" class="dropdown__link">AR на смартфоне</a>
					</li>
					<li class="dropdown__item">
						<a href="ARiphone.html" class="dropdown__link">AR для iPhone</a>
					</li>
					<li class="dropdown__item">
						<a href="ARandroid.html" class="dropdown__link">AR для Android</a>
					</li>
					<li class="dropdown__item">
						<a href="ARgame.html" class="dropdown__link">AR игры</a>
					</li>
					<li class="dropdown__item">
						<a href="AReducation.html" class="dropdown__link">AR в образовании</a>
					</li>
					<li class="dropdown__item">
						<a href="ARadvertising.html" class="dropdown__link">AR в рекламе</a>
					</li>
					<li class="dropdown__item">
						<a href="ARmedical.html" class="dropdown__link">AR в медицине</a>
					</li>
					<li class="dropdown__item">
						<a href="ARproperty.html" class="dropdown__link">AR в недвижимости</a>
					</li>
				</ul>
			</li>
			<li class="nav__item">
				<a href="portfolio.html" class="nav__link">
					<i class="icon-hololens"></i>
					Портфолио
				</a>
			</li>
			<li class="nav__item">
				<a href="blog.html" class="nav__link">
					<i class="icon-hololens"></i>
					Блог
				</a>
			</li>
			<li class="nav__item">
				<a href="job.html" class="nav__link">
					<i class="icon-hololens"></i>
					Вакансии
				</a>
			</li>
		</nav>
		<ul class="switcher">
			<li class="switcher__item"><a href="" class="switcher__link">RU</a></li>
			<li class="switcher__item"><a href="" class="switcher__link">EN</a></li>
		</ul>
	</div>
</div>